<%- include('header'); -%>
    <h1>HAAA</h1>
    <table class="table">
        <tr>
            <th>lectureID</th>
            <th>Batch Name</th>
            <th>Batch Year</th>
            <th>Time Stamp</th>
        </tr>
        <% fTeacher.lecturesTaken.forEach(function(lecture){  %>
            <tr>
                <td><%= lecture.id %></td>
                <td><%= lecture.batchName %></td>
                <td><%= lecture.batchYear %></td>
                <td><%= lecture.date %></td>
            </tr>
        <% }) %>
    </table>
    
<%- include('footer'); -%>