<%- include('header'); -%>
<link href="/css/teacherdashboard.css" rel="stylesheet" type="text/css">
<!-- <div class="bigJ"> -->
    <div class="jumbotron text-center">
        <h1>Teacher's DashBoard</h1>
        <!-- <p>Taking Attendance Made Easy!</p> -->
        <p><a class="btn btn-primary btn-lg" href="teacher/makeQR" role="button">Start A New Lecture!</a></p>
    </div>
<!-- </div> -->
    <div class="center">
        <h1>All Lectures by <%= currentUser.username %></h1>
    </div>
    <div class="container">
        <table class="table">
            <tr>
                <th>S.no.</th>
                <th>lectureID</th>
                <th>Batch Name</th>
                <th>Batch Year</th>
                <th>Time Stamp</th>
            </tr>
            <% fTeacher.lecturesTaken.forEach(function(lecture,i){  %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><a href = "/teacher/<%= lecture.id %>/lecture"><%= lecture.id %></a></td>
                    <td><%= lecture.batchName %></td>
                    <td><%= lecture.batchYear %></td>
                    <td><%= lecture.date %></td>
                </tr>
            <% }) %>
        </table>
    </div>

    <div class = "center">
        <a class="btn btn-primary btn-lg bottom-button" href="teacher/makeQR">Generate new QR CODE</a>
    </div>
<%- include('footer'); -%>